build/
cmake-build-*/
out/

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
blockchain

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters

*.xcodeproj/
*.xcworkspace/


conan.lock
vcpkg_installed/

*.log
